odp/.~*
main.blg
main.bbl
main.synctex.gz
main.toc
main.log
main.aux
tmp.tex
main.pdf
*.log
poster/*.log
poster/*.aux
poster/*.toc
poster/*.blg
poster/*.gz
poster/*.bbl
poster/*.pdf
proceedings/*.log
proceedings/*.aux
proceedings/*.gz
proceedings/*.toc
proceedings/*.pdf
Cover_PHENIICS/*.aux
Cover_PHENIICS/*.log
Cover_PHENIICS/*.pdf
Cover_PHENIICS/*.gz
